{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style='width:100%'>
                    <div style='display:flex; align-items: center; justify-content:space-between; margin: 0.5rem 1rem; '>
                        <h3 style='font-weight: 500; font-size: 1.3rem'>{{page_title}}</h3>
                    </div>
                    <div class="card-header">
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for material in materials %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{material.name}}</td>
                                    <td>{{material.materials}}</td>
                                    <td>
                                        <a href="/media/{{material.attached_file}}" class="btn btn-primary" download>Download</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}